<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
        <style>
            .timer_div
            {
                display: inline;
                background-color: rgb(255, 97, 97);
            }
        </style>
    </head>
    <body>
        <h1>
            Bem-vindo(a)!
        </h1>
        <p>
            Suas informações de perfil:<br>
            <ul>
                <li>Nome de usuário: {{username}}</li>
                <li>Email: {{email}}</li>
                <li>Idade: {{age}}</li>
                <li>País: {{country}}</li>
            </ul>
        </p>
        <br>
        <div class="timer_div"><b>Atenção:</b> Você tem <div class="timer_div" hx-get="/remaining_time/{{userIP}}" hx-trigger="every 1s"></div> segundos até sua sessão ser desconectada por inatividade!</div>
    </body>
</html>